@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

body{
    background-color: #fafafa;
}

.p-2{
    padding: 10px;
}

.p-5{
    padding: 25px;
}

.ml-2{
    margin-left: 10px;
}

.mt-5{
    margin-top: 25px;
}

.mt-10{
    margin-top: 50px;
}

h4{
    font-family: 'Nanum Gothic', sans-serif;
    display: inline;
}

h5{
    font-family: 'Nanum Gothic', sans-serif;
    display: inline;
}

.border-gray{
    border: 1px solid #d7d7d7;
    border-radius: 3px;
}

.home-card{
    max-width: 800px;
}